.act-button{
    border-radius: 10px;
    border: none;
    font-size: 11pt;
    width: 150px;
    background: rgb(255,233,238);
    background: linear-gradient(90deg, rgba(255,233,238,1) 15%, rgba(229,244,255,1) 80%);
    margin-left: 5px;
}

.placeItemButton:hover{
    background: rgb(255,147,173);
    background: linear-gradient(90deg, rgba(255,147,173,1) 15%, rgba(108,193,255,1) 80%);
};
